<ion-view title="Metropolitan">
  <ion-content class="padding">
    <h1>Location: {{prettyPrintPosition}}</h1>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Subway Line
        </div>
        <select ng-model="$parent.selectedLine">
          <option ng-repeat="line in subwayLines" ng-value="line">{{line}}</option>
        </select>
      </label>
    </div>

    <div class="list">
      <a class="item" ng-repeat="stop in activeStops" href="#" ng-click="stopTapped(stop)">
        {{stop.name}}
      </a>
    </div>
  </ion-content>
</ion-view>
